body{
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: rgb(52, 57, 61);
    width: 100%;
}

.navigation {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-height: 40px;
    box-sizing: border-box;
    
}

body {
    padding: 0;
    margin: 0;
}

.burger-features {
    font-size: 14px;
    color: #ffff;
    display: none;
    padding: 10px 15px;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 32, 37);
    cursor: pointer;
}

.pizza-love {
    background-image: url(../img/pizzaIsLove.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
}    



.site-text {
    font-family: 'Lato', sans-serif;
    color:  #a6d6e0;
    font-size: 14px;
    font-weight: 700;
    margin-top: 11px;
}

.slogan-items-two {
    display: flex;
    margin-left: 20px;
}

.pizza-love-slogans {
    margin-bottom: 91px;
}

.slogan-items {
    margin-left: 20px;
    margin-top: 19px;
    display: flex;
}

.text-slogan {
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}

.slogan-text {
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 16px
}

.slogan-text-feat {
    margin-top: 5px;
}

.features-items {
    width: 100%;
    display: flex;
    margin-top: 1px;
}

.pizza-delivery {
    background-image: url(../img/PizzaDeliveryFonCopy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 78%;
}

.arrov {
    width: 22%;
    background-color: rgb(173, 217, 175);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.delivery-text {
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 28px;
}

.arrov-prop {
    display: flex;
    color:  #ffffff;
    font-size: 20px; 

    
}

.features {
    margin-top: 2px;
}

.salads-delivery {
    background-image: url(../img/UA_UX_Salads_fon_copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 78%;
}

.desserts-delivery {
    background-image: url(../img/Desserts_fon_copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 78%;
}

.neque-ero {
    width: 100%;
    margin-top: 26px;
}

.neque-ero-slogan {
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 3%;
}

.neque-ero-text {
    font-family: 'Lato', sans-serif;
    color:  #cbcdce;
    font-size: 10px;
    font-weight: 400;
    margin-left: 3%;
    margin-top: 4px;
}

.tincidunt-at-Mauris-text {
    width: 100%;
    background-color: rgb(61, 62, 65);
    color: #acd9ad;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 7%;
    padding-top: 12px;
    padding-bottom: 11px;
    box-sizing: border-box;
}

.tincidunt-at-Mauris {
    width: 100%;
    padding-top: 12px;
}

.snow-flake {
    color: #acd9ad;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    
    
}

.id-hendrerit-text {
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    
}

.id-hendrerit-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-right: 7%;
    margin-left: 7%;
}

.dish-name {
    font-family: 'Lato', sans-serif;
    color: #3f4043;
    font-weight: 400;
    display: inline-flex;
}

.price-value {
    font-family: 'Lato', sans-serif;
    color: #3f4043;
    font-weight: 700;
    display: inline-flex;
    margin-top: 2px;
}

.dish-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 14px;
}

.dish-description {
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
    font-size: 9px;
    font-weight: 400;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 8px;
    
}

.vestibulum-augue-et {
    width: 100%;
    padding-top: 12px;
}

.vestibulum-augue-text {
    width: 100%;
    background-color: rgb(173, 217, 175);
    color: #ffff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 7%;
    padding-top: 12px;
    padding-bottom: 11px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    background-color: rgb(173, 217, 175);
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-top: 48px;
}


.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 10%;
    box-sizing: border-box;
}

.imge-logo {
    display: none;
}

.image-logo-features {
    display: flex;
}

.menu-buttons {
    background-color: #ffff;
    position: absolute;
    right: 0px;
    top: 36px;
    width: 55%;
}



.menu-buttons-text {
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    border-bottom:1px solid #f5f5f5;
    box-sizing: border-box;
   /* margin: 12px 96px 12px 12px;*/
}
.menu-buttons-text:hover{
    background-color: grey;
    color: #ffff;
}


.menu-buttons-items {
  
}

.logo-two {
    display: none;
}

.logo-two-features {
    display: flex;
}

.footer-image {
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.image-footer-prop {
    display: none;
}

.cross-features {
    font-size: 14px;
    color: #ffff;
    display: flex;
    padding: 10px 16px;
    box-sizing: border-box;
}
.d-none{
    display: none;
}

.active {
    display: flex;
}

.expression-footer-980 {
    display: none;
}
